:root {
  --redc: #ff014f;
  --mybg: #212428;
  --color-lightn: #c4cfde;
  --transition: 0.4s;
  --color-subtitle: #f9004d;
  --color-primary: #ff014f;
}


/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  } */
/* nav{ */
/* background: #0082e6; */
/* background-color: var(--mybg);
    height: 80px;
    width: 100%;
    text-decoration: none;
  }
  .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .ul a.active,a:hover{
    background:var(--redc);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color:var(--redc);
    }
    #check:checked ~ ul{
      left: 0;
    }
  } */


/* banner */

.subtitle {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}


.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 22px;
  font-family: "Montserrat", sans-serif;
}

.kul {
  color: var(--redc);
}

.banner {
  background-color: var(--mybg);
}

.description {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-lightn);
  padding-right: 16%;
  opacity: 0.9;
}

.maintext {
  /* position: absolute;
    top: 50%;
    transform: translate(0, -20%);
    padding: 10px; */

  border: 1px solid black;
}


.sectext {
  border: 1px solid black;
}

/* banner end */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800);

.static-slider1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.static-slider1 h1,
.static-slider1 h2,
.static-slider1 h3,
.static-slider1 h4,
.static-slider1 h5,
.static-slider1 h6 {
  color: #3e4555;
}

.static-slider1 .title {
  /* font-weight: 700;
    line-height: 56px;
    font-size: 36px; */

  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 22px;
  font-family: "Montserrat", sans-serif;
}

/* .static-slider1 .title span {
     border-bottom: 3px solid #2cdd9b; 
} */

@media (max-width:767px) {
  .static-slider1 .title {
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
  }
}

.static-slider1 .btn-success-gradiant {
  background: var(--color-subtitle);
}

.static-slider1 .btn-success-gradiant:hover {
  background: var(--color-subtitle);

}

.static-slider1 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

/* .static-slider1 .text-success-gradiant {
    
} */


.box {
  display: flex;
}

.bx {
  padding: 10px;
  border: 1px solid black;
  margin-right: 2px;
}

.static-slider1 {
  background-color: var(--mybg);
}


.sub-title {
  color: var(--color-subtitle);
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
}


.boxx {
  border: 1px solid rgb(85, 85, 85);
  box-shadow: 0px 0px 19px 11px rgba(64, 64, 64, 0.3);
}


/* .inner {
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transform: translateY(20px);
} */

.title2 {
  font-family: var(--color-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--color-lightn);
}

.description1 {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-lightn);
  margin-bottom: 22px;
  transition: var(--transition);
}




/* Project Section */


.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 10px auto;
  padding: 20px;
  gap: 20px;
}


.card-list .card-item:hover {
  background-color: #830e3194;
}

.card-list .card-item {
  background-color: var(--mybg);
  padding: 26px;
  border-radius: 8px;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04); */
  box-shadow: 0px 0px 19px 11px rgba(64, 64, 64, 0.3);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

/* .card-list .card-item:hover {
  border: 2px solid var(--color-lightn);
} */

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #F7DFF5;
  color: var(--color-primary);
}

.card-list .designer {
  background-color: #F7DFF5;
  color: var(--color-primary);
}

.card-list .editor {
  background-color: #F7DFF5;
  color: var(--color-primary)
}

.card-item h3 {
  color: var(--color-lightn);
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}


/* CONTACT */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--color-primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(255, 14, 34);
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: var(--mybg);
  padding: 20px;
}

textarea {
  background-color: var(--color-lightn);
}

#country {
  background-color: var(--color-lightn);

}

#lname {
  background-color: var(--color-lightn);
}

#fname {
  background-color: var(--color-lightn);
}

/* navigation style */




.container2 {
  margin-left: 5%;
  margin-right: 5%;
}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: var(--mybg);
}

.nav div.logo {
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}


@media only screen and (min-width:720px) {
  .nav div.main_list {
    width: 600px;
    height: 65px;
    float: right;
    position: absolute;
    left: 700px;
  }
}


.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  ;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}


/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .container2 {
    margin: 0;
  }

}


@media screen and (max-width:768px) {

  .container2 {
    margin: 0;
    width: 400px;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }

  .nav div.show_list {
    height: 200px;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: var(--mybg);
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }

  .nav div.media_button {
    display: block;
  }
}